[Desktop Entry]
Name=Xsysinfo
Comment=System Information
Comment[es]=Información del Sistema
Comment[pl]=Informacje o systemie
Comment[pt]=Informações do Sistema
Comment[pt_BR]=Informações do Sistema
Icon=xsysinfo.png
Exec=xsysinfo
Terminal=0
Type=Application
# vi: encoding=utf-8
