[Desktop Entry]
Name=Xsysinfo
Comment=System Information
Comment[es]=Información del Sistema
Comment[pl]=Informacje o systemie
Comment[pt]=Informações do Sistema
Comment[pt_BR]=Informações do Sistema
Icon=xsysinfo.png
Exec=xsysinfo
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
